html {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

/* CSS code, add in a separate file or style tag */
.fixed-nav nav {
  position: fixed;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding:20px;
  color:white;
  transition:all 0.2s;
}

